* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  background: #333;

  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  background: white;
  width: 600px;
  height: 300px;

  display: flex;
  flex-direction: column;
}

#modal-header {
  background: #2d4a93;
  flex: 1 1 0;
  border: 1px solid black;
}

#modal-main {
  background: #c6c6c6;
  flex: 8 1 0;

  display:flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;

  font-size: 3em;
}

#modal-footer {
  background: #2d4a93;
  flex: 1 1 0;
  border: 1px solid black;
}